<div>
    <form>
        <ul >
            <th>email</th>
            <input type="email" placeholder="email">
            <br>
            <th>name</th>
            <input type="name" placeholder="name">
            <br>
            <th>gender</th>
            <input type="gender" placeholder="gender">
            <br>
            <th>status</th>
            <input type="status" placeholder="status">
            <br>
            <button type="submit">Add</button>
            <button type="edit">edit</button>
            <button type="delete">delete</button>
        </ul>
    </form>
</div>
